@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #232526, #414345);
}

.container-transactions {
  border: 1px solid #38ef7d;
  box-shadow: 2px 3px 5px #38ef7d;
}
